
.aboutMe {
	position: relative;
	.banner{ 
		background-image : url('./scss/imgs/aboutme.jpg');
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
	}
}
.section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding:4em;
	border: 2px solid black;
	position: relative;
    padding-top: 25%;
    padding-bottom: 24%;
	text-align: center;
	&__title{
		border: 2px solid red;
		font-size: 4rem;
		text-transform: uppercase;

	}
	&__body{
		border: 2px solid blue;
	    max-width: 50%;

	}
	&__attachments{
		border: 2px solid purple;
	}
}

.button{
    background-color: #fdc601;
    padding: 1em;
    border: 1px solid black;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-weight: 800;
}

@media(max-width: 500px){
	
}