/* @font-face{
	font-family:'mainFont';
	src: url('./fonts/Amaranth/Amaranth-Bold.ttf');
}
 */
/* @font-face{
	font-family:'mainFont';
	src: url('./fonts/Josefin_Slab/JosefinSlab-Bold.ttf');
} */
/* @font-face{
	font-family:'mainFont';
	src: url('./fonts/Jura/Jura-Bold.ttf');
} */
@font-face {
  font-family: 'mainFont';
  src: url("./fonts/Signika/Signika-Bold.ttf"); }
