@import './general';
.yell{
	background-color: black;
	/* color:$yell; */
	min-height: 100vh;
	font-family: mainFont;
}
.yell-navigation{
	background-color: transparent;
	overflow: hidden;
	/* border:2px solid blue; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	position: fixed;
    width: 20%;
    height: 100vh;
    position: fixed;
	background-color: black;
	z-index: 1;
	/* border-right: 1px solid white; */
	&__profilePicture{
		background-image: url('../scss/imgs/pp.jpg');
		background-size: cover;
		padding-top: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	&__collection{
		/* background-color: transparent; */
		/* overflow: hidden; */
		/* border:2px solid blue; */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 100%;
		/* width: 20%; */
		/* height: 100vh; */
		/* position: fixed; */
		background-color: black;
		/* z-index: 1; */
		/* border-right: 1px solid white; */
	}
	&__item {
		/* border:2px solid red; */
		/* padding:2em; */
		font-size: 1.125rem;
		text-transform: uppercase;
		width: 100%;
		a{
			font-size:1rem;
			color:white;
			display: flex;
			flex-direction: row;
			text-decoration: none;
		    letter-spacing: 2px;
		    border-bottom: 1px solid white;
		    text-align: center;
		    /* display: block; */
		    justify-content: flex-start;
		    align-items: center;
		    width: 100%;
		    /* padding:1em; */
		    &:hover{
				background-color: $orange;
		    }
		    &.is-active{
				background-color: $yellow;
		    }
		    p{
		    	margin-left: 15%;
		    }
		}
	}
	&__itemLogo{
		max-width: 1.5em;
		margin-left: 10%;
	}
	&__social{
		margin-top: 15%;
		display: flex;
		justify-content: space-around;
	    max-width: 70%;
	    width: 100%;
		a{
			color:white;
			font-size:1.125rem;
			&:hover{
				color:$orange;
			}
		}
	}
}
@media(max-width:500px){
	.yell-navigation{
		width: 0;
		&--open{
			width: 80%;
			transition: width 1s ease-in-out;
		}
	}
}
